@{
    ViewBag.Title = "Home Page";
}



<body>
    <div class="main-top" id="home">
       
        <!-- banner -->
        <div class="main-banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="style-banner ">
                            <h4 class="mb-2">College Management System</h4>
                            <p class="mt-lg-5 mt-md-4 mt-sm-4 mt-4">
                               We believe in quality service provided to students from their college
                            </p>
                            <div class="view-buttn mt-lg-5 mt-md-4 mt-sm-4 mt-3">
                                <a href="http://localhost:27902/Student/StudentList" class="btn">Student Portal</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 left-banner">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="row">
                <div class="col-lg-6 about-two-grids text-right">
                    <h5 class="top-title mb-3"> About us</h5>
                    <h3 class="title">What We Provide the Best</h3>
                    <div class="about-para-txt mt-lg-4 mt-md-4 mt-3">
                        <p>
                            Here you can manage and update and edit and read student record. Make sure you know the exact ID to update the record.
                            Once you update the data and made a mistake please contact admin for further instructions.
                        </p>
                    </div>
                    <div class="outs_more-buttn mt-lg-5 mt-md-4 mt-3">
                        <a href="~/Views/Student/Student.cshtml">Student Record</a>
                    </div>
                </div>
                <div class="col-lg-6 about-imgs-txt">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center about-two-side">
                            <div class="about-wthree-grids ">
                                <div class="about-icon text-center color-one mb-lg-4 mb-md-3 mb-3">
                                    <span class="fa fa-ship" aria-hidden="true"></span>

                                </div>
                                <h4>Student Portal</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center gap-to-two about-two-side ">
                            <div class="about-wthree-grids">
                                <div class="about-icon text-center color-two mb-lg-4 mb-md-3 mb-3">
                                    <span class="fa fa-plane" aria-hidden="true"></span>

                                </div>
                                <h4>Add New student</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center gap-to-two about-two-side">
                            <div class="about-wthree-grids ">
                                <div class="about-icon text-center color-three mb-lg-4 mb-md-3 mb-3">
                                    <span class="fa fa-cubes" aria-hidden="true"></span>

                                </div>
                                <h4>Add fee</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center gap-to-top about-two-side ">
                            <div class="about-wthree-grids ">
                                <div class="about-icon text-center color-four mb-lg-4 mb-md-3 mb-3">
                                    <span class="fa fa-truck" aria-hidden="true"></span>
                                </div>
                                <h4>Manage Student</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//about -->
    
</body>